curses
units
*.cmi
*.cmo
*.o
*.cmx
*.cma
autom4te.cache
config.*
configure
Makefile
version.ml
install.ml
txtin_parser.ml
txtin_parser.output
*.opt
*.byte
*.html
*.pdf
*.1
*.5
txtin_parser.mli
txtin_lexer.ml
doc/*.aux
doc/*.dvi
doc/*.haux
doc/*.htoc
doc/*.log
doc/*.ps
doc/manual.tex
doc/*.toc
